name: charitarthchugh
description: My resume written in Flutter/Dart

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  url_launcher: ^5.5.0
  url_launcher_web: ^0.1.2+1
  animated_text_kit: ^2.2.0
  font_awesome_flutter: ^8.8.1
  google_fonts: ^1.1.0
  provider: ^4.3.2+1
  flutter:
    sdk: flutter


dev_dependencies:
  flutter_test:
    sdk: flutter
flutter_icons:
  android: true
  ios: true
  image_path: "assets/images/favicon.png"
# The following section is specific to Flutter.
flutter:
  assets:
    - assets/images/
    - assets/licenses/

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true


